html{
    color: #232323;
}


.date h6{
    color: #232323;
    font-size: large;
    font-weight: 200;
}

.profile{
    background-color: #eeeeee;
    border-radius: 2rem;
    padding: 1rem;
}